html,body,div,p,span,ul,li{
  padding: 0;
  margin: 0;
}
div,p,span,ul,li{
  box-sizing: border-box;
  font-size: 14px;
}
button{
  width: 100%;
}
.el-input__inner{
  width: 100%;
}
a{
  color: #008BF7;
}
ul,li{
  list-style: none;
}
