html,body,div,p,span,ul,li{
  padding: 0;
  margin: 0;
}
div,p,span,ul,li{
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

@font-face {font-family: "iconfont";
  src: url('/static/iconfont/iconfont.eot'); /* IE9*/
  src: url('/static/iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('/static/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/static/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.el-input__inner{
  border-width: 0.5px;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  margin: 20px 0;
  font-size: 30px;
}
button{
  width: 100%;
}
.el-input__inner{
  width: 100%;
}
.el-message{
  min-width: inherit;
  width: 320px;
  margin: 0 auto;
}
.el-input-group__append{
  background: #ffffff;
}
a{
  color: #008BF7;
}
ul,li{
  list-style: none;
}
.skill-title{
  font-size: 30px;
  color:#092235 ;
  font-weight: bold;
}
.skill-desc{
  font-size: 30px;
  margin-top: 30px;

  color: #092235 ;
  font-weight: bold;
  line-height: 40px;
}
.skill{
  position: relative;
}
.skill-top{
  padding: 0.3rem 0.3rem 100px 0.3rem;
}
.el-progress__text{
  display: none;
}
.el-progress-bar{
  padding-right: 0;
  margin-right: 0;
}
